.edit-profile-modal {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 35%;
}
.edit-profile-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.edit-profile-head h1 {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 700;
}
.edit-profile-head button {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
.edit-images-coantiner {
  position: relative;
}
.edit-profile-img-container {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 25%;
}
.edit-profile-background-container {
  margin-bottom: 2.5rem;
}
.edit-profile-user-background > span > img {
  height: 5.8rem;
  object-fit: cover;
}
.edit-profile-user-avtaar > span {
  display: block;
}
.edit-profile-user-avtaar > span > img {
  width: 7rem;
  height: 7rem;
  border: 0.25rem solid white;
}

.edit-profile-user-avtaar,
.edit-profile-user-background {
  position: relative;
}
.edit-profile-icon-container {
  border-radius: 100%;
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;

  right: 1rem;
  bottom: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.504);
  padding: 0.4rem;
  cursor: pointer;
}

.edit-profile-camera-icon {
  font-size: 1.5rem;
  color: white;
}

.edit-porfile-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid pink; */
}

.edit-profile-field label {
  display: block;
  padding: 0.25rem 0;
  font-size: 0.9rem;
  font-weight: 600;
}
.edit-profile-field input {
  display: block;
  width: 100%;
  padding: 0.25rem;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  border: 1px solid rgb(173, 173, 173);
  outline: none;
  border-radius: 0.25rem;
}
.edit-profile-image,
.edit-profile-background {
  display: none;
}
.edit-porfile-form > button {
  width: 30%;
  padding: 0.5rem;
  font-size: 0.9rem;
  line-height: 1;
  border: none;
  background-color: black;
  color: white;
  border-radius: 0.25rem;
  margin: 0.75rem auto;
}
