.profile-img-selector-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: rgba(50, 40, 49, 0.311);
}
.profile-img-selector-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 550px;
  width: 94%;
  margin: 0 auto;
}
.profile-selector-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.profile-selector-head > span {
  font-size: var(--fs-400);
  line-height: 1;
  font-weight: 700;
}
.profile-selector-head button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-400);
}
.profile-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.profile-selector-img {
  width: calc(25% - 0.5rem);
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 100%;
}
@media (min-width: 768px) {
  .profile-img-selector-container {
    padding: 1rem;
  }
  .profile-img-wrapper {
    gap: 0.75rem;
  }
  .profile-selector-img {
    width: calc(25% - 0.75rem);
  }
}
