.profile-nav {
  /* border: 1px solid red; */
  display: flex;
  align-items: stretch;
  gap: 0.25rem;
  color: var(--clr-text);
}

.profile-nav > span > h1 {
  font-size: var(--fs-400);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.25rem;
}
.profile-nav > span > p {
  font-size: var(--fs-300);
  font-weight: 400;
  line-height: 1;
  color: var(--clr-text-light);
}
.profile-nav > button > .icon {
  width: 1.75rem;
  height: 1.75rem;
  color: var(--clr-text-light);
}
