.user-background-container > img {
  display: block;
  width: 100%;
  aspect-ratio: 5/1;
  object-fit: cover;
  border-radius: 0.25rem 0.25rem 0 0;
}
.default-background {
  display: block;
  width: 100%;
  aspect-ratio: 5/1;
  background-color: rgb(214, 214, 214);
  border-radius: 0.25rem 0.25rem 0 0;
}
