@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --clr-primary: #efbd21;
  --clr-text: #1b2e35;
  --clr-background: #f5f4ed;

  --fs-xl: clamp(2.25rem, 4vw + 1rem, 5rem);
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-300: 0.9rem;
}

.App {
  font-family: "Lato", sans-serif;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  :root {
    --fs-600: 2.5rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --fs-600: 3rem;
    --fs-500: 2rem;
    --fs-400: 1.25rem;
    --fs-300: 1rem;
  }
}
